<div class='tracks'>
  {{#each albums}}
    <div class='albums'>
      <div class='data'>
        <div class='text'>
          <h3>{{name}}</h3>
          <a href='/tracks/{{id}}'>View Tracks</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>